@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

.contSection {
    display: grid;
    gap: 10px;

}

.comicSlide {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 16px
}

.comicImg,
.imgCont {
    position: relative;
    height: 188px;
    width: 125px;
    box-shadow: 0px 5px 15px #00000029;
}

.title {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: calc(19/ 16);
    font-family: 'Montserrat', sans-serif;

}

.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50%;
    left: -15px;
    border: 2px solid #F8F8F2;
    transform: translateY(50%);
}

.pTag {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.loading {
    margin: 30vh auto 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media (min-width: 40em) {
    .contSection {
        max-width: 183px;
    }

    .comicImg,
    .imgCont {
        position: relative;
        width: 183px;
        height: 276px;
    }

    .comicSlide {
        flex-direction: column;
        justify-content: unset;
        gap: 30px;
    }
    .button {
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 64em) {
}