.contSection {
	display: flex;
	gap: 5px;
	flex-direction: column;
}

.contSection p {
	font-family: var(--font-display);
}

.comicSlide {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	gap: 16px
}

.comicImg,
.imgCont {
	position: relative;
	height: 188px;
	width: 125px;
	box-shadow: 0px 5px 15px #00000029;
}

.title {
	margin: 0 0 5px;
	font-size: 1rem;
	font-weight: 700;
	line-height: calc(19/ 16);
	font-family: var(--font-main);

}

.button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #222222;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 50%;
	left: -15px;
	border: 2px solid #222222;
	transform: translateY(50%);
	transition: background-color ease-in-out .3s, border ease-in-out .3s;
}

.button:hover,
.button.selected {
	background-color: #C24868;
	border: 2px solid #F8F8F2;
}


.isFavFull,
.isFavFull:hover,
.isFavFull.selected {
	background-color: #ccc;
	border: 2px solid #ccc;
	cursor: default;
}



.pTag {
	font-size: 1rem;
	font-family: var(--font-display);
	margin: 0;
}

/* Comid Grid */
.comidGrid {
	padding: 0 20px;
}

/* Loading */

.loading {
	margin: 100px auto;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

/* Hero */
.heroCont {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../../public/hero-photo.png) no-repeat;
	aspect-ratio: 375 / 450;
	position: relative;
	background-position: bottom right 56%;
	background-size: 200% 100%;
	margin-bottom: 46px;
}

.heroCont::after{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 92px;
	width: 100%;
	background: url(../../public/halftone.png) no-repeat;
	background-size: 200%;
	background-position: bottom left;
}

.heroCont h1 {
	font-family: var(--font-main);
	letter-spacing: 0px;
	color: #F8F8F2;
	text-shadow: 2px 2px 0px #000000;
	background: #C24868E6;
	padding: 16.5px 32px;
	font-size: 1.6875rem;
	font-weight: 900;

}

/* Intro */
.introCont {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	font-family: var(--font-main);
	margin-bottom: 42px;
}

.introSubtitle {
	letter-spacing: 0px;
	color: #F8F8F2;
	text-shadow: 2px 2px 0px #222222;
	background: #9ECFC5;
	display: inline-flex;
	width: fit-content;
	justify-content: flex-start;
	font-size: .875rem;
	font-weight: 900;
	align-items: center;
	padding: 6px 15px;
	transform: rotate(356deg) translateX(-10px);
}

.introTitle {
	font-size: 1.5625rem;
	color: #C24868;
	font-weight: 900;
	margin-bottom: 16px;
}

.introCont p {
	font-size: 1.25rem;
	line-height: calc(32 / 20);
}

/* Comic List */
.comicGrid {
	padding: 0 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 30px 20px;
	width: 100%;
	margin-bottom: 30px;
}

@media (min-width: 40em) {
	.contSection {
		max-width: 183px;
	}

	.comicImg,
	.imgCont {
		position: relative;
		width: 100%;
		height: 276px;
	}

	.comicSlide {
		flex-direction: column;
		justify-content: unset;
		gap: 30px;
	}
	.button {
		bottom: -15px;
		left: 50%;
		transform: translateX(-50%);
		pointer-events: all;
		cursor: pointer;
	}

	.introCont {
		max-width: 822px;
		margin-inline: auto;
	}

	/* Comic List */
	.comicGrid {
		grid-template-columns: repeat(auto-fit, minmax(183px, 1fr));
	}
}

@media (min-width: 64em) {
	/* Hero */
	.heroCont {
		aspect-ratio: 1440 / 650;
		background-position: bottom;
		background-size: cover;
	}

	.heroCont::after{
		height: 176px;
		bottom: -10px;
		background-size: cover;
	}

	.heroCont h1 {
		font-size: 3.8125rem;
	}

	/* Intro Cont */
	.introSubtitle {
		font-size: 1.125rem;
		padding: 9px 17px;
		margin-bottom: -15px;
		z-index: -1;
		transform: rotate(356deg) translateX(-50px);
	}

	.introTitle {
		font-size: 3.0625rem;
	}

	.introCont {
		padding: 0 60px;
	}

	/* Comic List */
	.comicGrid {
		margin-bottom: 86px;
		padding: 0 60px;
	}
}