.mobileFilter {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: calc(100% - 40px);
	background: #222;
	margin-bottom: 40px;
	margin-inline: auto;
	padding: 20px 10px;
}

.mobileFilterInner {
	display: flex;
	justify-content: space-between;
}

.mobileFilterInner button {
	font-size: .875rem;
	font-weight: 600;
	color: #fff;
	display: flex;
	align-items: center;
	gap: 4px;
	background: transparent;
	border: none;
	font-family: var(--font-main);
}

.optionsCont {
	display: flex;
	gap: 20px;
	padding-top: 18px
}

.filterCont {
	border-radius: 3px;
	border: 1px solid #8B8B8B;
	background: transparent;
	color: #fff;
	font-family: var(--font-display);
	font-size: 1rem;
	padding: 5px 10px;
	width: 100%;
}

.filterCont option {
	color: #fff;
	background: #222;
	font-family: var(--font-main);
}

.desktopFilter {
	display: none;
}

.mobileFilter .favCont {
	height: 0;
	transition: height ease-in-out .3s;
}

.mobileFilter.undefined .favCont {
	height: 100%;
}

@media (min-width: 64em) {
	.mobileFilter {
		display: none;
	}

	.optionsCont {
		padding-top: 0
	}
	
	
	.desktopFilter {
		display: flex;
		align-items: center;
		width: calc(100% - 120px);
		background: #222;
		margin-bottom: 40px;
		margin-inline: auto;
		padding: 15px 20px;
	}
	
	.desktopFilter span {
		font-size: .875rem;
		font-weight: 600;
		color: #fff;
		font-family: var(--font-main);
		margin-right: 10px;
	}

	.filterCont {
		border-radius: 3px;
		border: 1px solid #8B8B8B;
		background: transparent;
		color: #fff;
		font-family: var(--font-display);
		font-size: 1rem;
		padding: 5px 10px;
		min-width: 245px;
	}
}